<header class="call-to-action text-white text-center" id="signup">
  <div class="container position-relative">
      <div class="row justify-content-center">
          <div class="col-xl-6">
              <div class="text-center text-white">
                  <!-- Page heading-->
                  <h1 class="mb-5">Bienvenido a la intranet del BIO Hesperides.</h1>
              </div>
          </div>
      </div>
  </div>
</header>
<!-- Icons Grid-->
<section class="features-icons bg-light text-center">
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
            <a id="link" href="http://192.168.1.115/sdb/" target="_blank">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                  <h3>Datos en tiempo real</h3>
                  <p class="lead mb-0">Visualiza los datos recogidos por los sensores del buque en todo momento</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4">
            <a id="link" href="http://192.168.1.115:8080/WebGump_II/" target="_blank">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                  <h3>Extracción de datos por fecha</h3>
                  <p class="lead mb-0">Archivos KML, mapas, y datos del tipo que desees en un intervalo de fechas determinado</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4">
            <a id="link" href="http://192.168.1.115:8080/WebEventos/" target="_blank">
              <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                  <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                  <h3>Registro de eventos</h3>
                  <p class="lead mb-0">Registre aquí los acontecimientos de la campaña que le sean relevantes.</p>
              </div>
            </a>
          </div>

      </div>
      <div class="row">
        <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                <h3></h3>
            </div>
        </div>
        <div class="col-lg-4">
          <a id="link" href="http://copernico:8080/WebForestUser/" target="_blank">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                <h3>Generar Metadatos</h3>
                <p class="lead mb-0">Apunte aquí los lanzamientos y recogidas de cada instrumento con el fin de registrar los metadatos de la campaña </p>
            </div>
          </a>
        </div>
        <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                <h3></h3>
            </div>
        </div>
    </div>
  </div>
</section>
<section class="features-icons bg-dark text-white text-center justify-content-center">
<br>
<hr>
<div class="row">
  <div class="col-4"></div>
  <div class="col-4 ">
    <a id="link" href="#" (click)="onclick(1)">
      <h1 class ="rounded btn-dark" id="quad">
        ADMINISTRACIÓN
      </h1>
    </a>
</div>
<div class="col-4"></div>
</div>
<hr>
</section>

<footer class="footer bg-light">
  <div class="container">
      <div class="row">
        <div class="col-3">
          <p class="text-muted small mb-4 mb-lg-0"> Unidad de Tecnología Marina, CSIC</p>
        </div>
        <div class="col-7"></div>
        <div class="col-2">
          <p class="text-muted small mb-4 mb-lg-0 float-end">Roger Mocholi Segura</p>
        </div>
      </div>
  </div>
</footer>
