<div class="col-1 text-center" id="return">
  <a id="link" href="#" (click)="onclick(0)">
    <h6 class ="rounded btn-dark m-3" id="quad">
      Volver
    </h6>
  </a>
</div>
<header class="call-to-action text-white text-center" id="signup">
  <div class="container position-relative">
      <div class="row justify-content-center">
          <div class="col-xl-6">
              <div class="text-center text-white">
                  <h1 class="mb-5">ADMINISTRACIÓN</h1>
              </div>
          </div>
      </div>
  </div>
</header>
<section class="features-icons bg-light text-center"  id="omega">
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
            <a id="link" href="http://copernico:8080/WebForestAdmin/" target="_blank">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                  <h3>Metadatos(WebForestAdmin)</h3>
                  <p class="lead mb-0">Abrir y cerrar campañas, insertar CDI's y todo ese asunto. Ya tú sabes, porque eres un crack de la informática.</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4">
              <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                  <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
              </div>
          </div>
        <div class="col-lg-4">
          <a id="link" href="http://192.168.1.116:4848/" target="_blank">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                <h3>Administración del servidor de aplicaciones</h3>
                <p class="lead mb-0">Portal de administración del Glassfish de Copérnico</p>
            </div>
          </a>
        </div>
      </div>
  </div>

  <hr>
  <h1>SERVIDORES</h1>
  <hr>
  <div class="container">
      <div class="row">
          <div class="col-lg-4">
            <a id="link" href="https://192.168.1.116:10000" target="_blank">
              <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                  <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                  <h3>ARWEN</h3>
                  <p class="lead mb-0">Intranet, SADO de respeto, DNS y DHCP</p>
              </div>
            </a>
          </div>
          <div class="col-lg-4">
            <a id="link" href="https://192.168.1.115:10000" target="_blank">
              <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                  <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                    <h3>COPÉRNICO</h3>
                    <p class="lead mb-0">SADO principal y aplicaciones</p>
              </div>
            </a>
          </div>
        <div class="col-lg-4">
          <a id="link" href="https://192.168.1.112:8006/" target="_blank">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                <h3>TOLKIEN</h3>
                <p class="lead mb-0">Hipervisor Proxmox (contiene Bilbo)</p>
            </div>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <a id="link" href="https://192.168.1.111" target="_blank">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                <h3>ABBYSS</h3>
                <p class="lead mb-0">Servidor NAS</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4">
          <a id="link" href="https://192.168.1.113" target="_blank">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                  <h3>BATTY</h3>
                  <p class="lead mb-0">Servidor NAS</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4">
          <a id="link" href="http://192.168.1.119/intranet" target="_blank">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                  <h3>Bilbo</h3>
                  <p class="lead mb-0">Nuevo SADO</p>
            </div>
          </a>
        </div>
        <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
            </div>
        </div>
      <div class="col-lg-4">
        <a id="link" href="https://192.168.1.12" target="_blank">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
              <h3>NTP2</h3>
              <p class="lead mb-0">Te lo explico?</p>
          </div>
          <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3" target="_blank">
                <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
            </div>
        </div>
        </a>
      </div>
    </div>
  </div>
</section>


<section class="features-icons bg-dark text-white text-center"  id="omega">
<br>
<hr>
<h1>SISTEMA</h1>
<hr>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            </div>
        </div>
        <div class="col-lg-4" >
          <a id="linkd" href="https://192.168.1.6/" target="_blank">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3" >
                <div class="rounded" id="quad">
                  <h3>FORTINET</h3>
                  <p class="lead mb-0">Firewall del sistema</p>
              </div>
            </div>
          </a>
        </div>
      <div class="col-lg-4">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          </div>
      </div>
    </div>
</div>
<div class="container">
  <hr>
  <h3>Switches</h3>
  <br>
  <div class="row">
        <div class="col-lg-2" >
          <a id="linkd" href="http://192.168.1.30/" target="_blank">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <p id="quad"><i>Switch Puente</i></p>
            </div>
          </a>
        </div>
        <div class="col-lg-2">
          <a id="linkd" href="http://192.168.1.31/" target="_blank">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3" >
                  <p id="quad"><i>Switch Teledetección</i></p>
            </div>
          </a>
        </div>
      <div class="col-lg-2">
        <a id="linkd" href="http://192.168.1.32/" target="_blank">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <p id="quad"><i>Switch C.Cientificos</i></p>
          </div>
        </a>
      </div>
      <div class="col-lg-2">
        <a id="linkd" href="http://192.168.1.33/" target="_blank">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <p id="quad"><i>Switch Sísmica</i></p>
          </div>
        </a>
      </div>
      <div class="col-lg-2 squared">
        <a id="linkd" href="http://192.168.1.34/" target="_blank">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                <p id="quad"><i>Switch C.Cálculo</i></p>
          </div>
        </a>
      </div>
    <div class="col-lg-2">
      <a id="linkd" href="http://192.168.1.35/" target="_blank">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <p id="quad"><i>Switch Proa</i><p>
        </div>
      </a>
    </div>
    <div class="col-lg-2">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
        </div>
    </div>
    <div class="col-lg-2">
      <a id="linkd" href="http://192.168.1.36/" target="_blank">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <p id="quad"><i>Switch Popa</i><p>
        </div>
      </a>
    </div>
    <div class="col-lg-2">
      <a id="linkd" href="http://192.168.1.37/" target="_blank">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <p id="quad"><i>Switch L. Muestras1</i><p>
        </div>
      </a>
    </div>
    <div class="col-lg-2">
      <a id="linkd" href="http://192.168.1.38/" target="_blank">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <p id="quad"><i>Switch L. Muestras2</i><p>
        </div>
      </a>
    </div>
    <div class="col-lg-2">
      <a id="linkd" href="http://192.168.1.39/" target="_blank">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <p id="quad"><i>Switch Gravimetría</i><p>
        </div>
      </a>
    </div>
  </div>
  <hr>
  <h3>Puntos de acceso</h3>
  <br>
  <div class="row">
        <div class="col-lg-2" >
          <a id="linkd" href="http://192.168.1.247/" target="_blank">
            <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                <p id="quad"><i>AP Sísmica</i></p>
            </div>
          </a>
        </div>
        <div class="col-lg-2">
          <a id="linkd" href="http://192.168.1.248/" target="_blank">
            <div class="features-icons-item mx-auto mb-0 mb-lg-3" >
                  <p id="quad"><i>AP C. Jefe</i></p>
            </div>
          </a>
        </div>
      <div class="col-lg-2">
        <a id="linkd" href="http://192.168.1.249/" target="_blank">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <p id="quad"><i>AP Científicos</i></p>
          </div>
        </a>
      </div>
      <div class="col-lg-2">
        <a id="linkd" href="http://192.168.1.250/" target="_blank">
          <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
              <p id="quad"><i>AP Camarotes</i></p>
          </div>
        </a>
      </div>
      <div class="col-lg-2 squared">
        <a id="linkd" href="http://192.168.1.251/" target="_blank">
          <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                <p id="quad"><i>AP Electrónica</i></p>
          </div>
        </a>
      </div>
    <div class="col-lg-2">
      <a id="linkd" href="http://192.168.1.252/" target="_blank">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <p id="quad"><i>AP Laboratorios</i><p>
        </div>
      </a>
    </div>
    <div class="col-lg-5">
      <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
      </div>
  </div>
    <div class="col-lg-2">
      <a id="linkd" href="http://192.168.1.253/" target="_blank">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
            <p id="quad"><i>AP Ele. Popa</i><p>
        </div>
      </a>
    </div>
  </div>
</div>


</section>

<footer class="footer bg-light">
  <div class="container">
      <div class="row">
        <div class="col-3">
          <p class="text-muted small mb-4 mb-lg-0"> Unidad de Tecnología Marina, CSIC</p>
        </div>
        <div class="col-7"></div>
        <div class="col-2">
          <p class="text-muted small mb-4 mb-lg-0 float-end">Roger Mocholi Segura</p>
        </div>
      </div>
  </div>
</footer>
